.App {
  text-align: center;
  background-color: #eee;
  min-height: 100vh;
}


header {
  background-color: #282c34;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: xx-large;
}

li {
  list-style-type:none;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
  color: #50A2A7;
}

#near_me_btn {

margin-left: 20px;

}

#pinball_location_div{
  background-color: #fff;
  border: 1px solid #ddd;
  max-width: 600px;
  margin: auto;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  
}